<!--The content below is only a placeholder and can be replaced.-->

<article>
    <header>
        <strong>{{ subtitle | uppercase }}</strong>
        <a routerLink="/home" style="color: white; text-decoration: underline;">
            {{ ((user$ | async)?.email || 'pls login') | slice: 0: 10 }}
        </a>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <ul class="nav justify-content-center">
            <li class="nav-item" *ngFor="let link of viewableLinks">
                <a class="nav-link" [routerLink]="link.url" [routerLinkActive]="'active'">
                    {{ link.label | uppercase }}
                </a>
            </li>
        </ul>
    </footer>
</article>